In [1]:
import pandas as pd

In [2]:
ls

MNAR-MAR.csv  select.ipynb

In [3]:
df = pd.read_csv("MNAR-MAR.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,wiscosin,10,0.0474 ± 0.006,0.023 ± 0.0033,0.1262 ± 0.0149,0.1156 ± 0.0241,0.1123 ± 0.012,0.0917 ± 0.0133,0.0922 ± 0.015,0.1051 ± 0.0137,0.0885 ± 0.0164
1,1,wiscosin,20,0.0448 ± 0.0078,0.0226 ± 0.0027,0.104 ± 0.0104,0.0945 ± 0.0192,0.0983 ± 0.0107,0.0897 ± 0.0117,0.0796 ± 0.0075,0.0889 ± 0.0072,0.0818 ± 0.0116
2,2,wiscosin,40,0.047 ± 0.0033,0.0352 ± 0.0043,0.1037 ± 0.0116,0.1127 ± 0.0187,0.097 ± 0.0085,0.081 ± 0.0105,0.0856 ± 0.0108,0.0791 ± 0.0084,0.0844 ± 0.0081
3,3,wiscosin,60,0.0524 ± 0.0041,0.0469 ± 0.0271,0.1116 ± 0.0077,0.1153 ± 0.0112,0.1108 ± 0.0088,0.0907 ± 0.0096,0.0962 ± 0.0053,0.086 ± 0.0093,0.0864 ± 0.0087
4,4,pima_diabetes,10,0.1039 ± 0.0114,0.0944 ± 0.0129,0.1333 ± 0.0175,0.1332 ± 0.0287,0.1448 ± 0.0167,0.1155 ± 0.0107,0.1107 ± 0.016,0.1125 ± 0.013,0.1134 ± 0.0094

In [4]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [5]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0474 ± 0.006,0.023 ± 0.0033,0.1262 ± 0.0149,0.1156 ± 0.0241,0.1123 ± 0.012,0.0917 ± 0.0133,0.0922 ± 0.015,0.1051 ± 0.0137,0.0885 ± 0.0164
1,wiscosin,20,0.0448 ± 0.0078,0.0226 ± 0.0027,0.104 ± 0.0104,0.0945 ± 0.0192,0.0983 ± 0.0107,0.0897 ± 0.0117,0.0796 ± 0.0075,0.0889 ± 0.0072,0.0818 ± 0.0116
2,wiscosin,40,0.047 ± 0.0033,0.0352 ± 0.0043,0.1037 ± 0.0116,0.1127 ± 0.0187,0.097 ± 0.0085,0.081 ± 0.0105,0.0856 ± 0.0108,0.0791 ± 0.0084,0.0844 ± 0.0081
3,wiscosin,60,0.0524 ± 0.0041,0.0469 ± 0.0271,0.1116 ± 0.0077,0.1153 ± 0.0112,0.1108 ± 0.0088,0.0907 ± 0.0096,0.0962 ± 0.0053,0.086 ± 0.0093,0.0864 ± 0.0087
4,pima_diabetes,10,0.1039 ± 0.0114,0.0944 ± 0.0129,0.1333 ± 0.0175,0.1332 ± 0.0287,0.1448 ± 0.0167,0.1155 ± 0.0107,0.1107 ± 0.016,0.1125 ± 0.013,0.1134 ± 0.0094

In [6]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0474,0.023,0.1262,0.1156,0.1123,0.0917,0.0922,0.1051,0.0885
1,wiscosin,20,0.0448,0.0226,0.104,0.0945,0.0983,0.0897,0.0796,0.0889,0.0818
2,wiscosin,40,0.047,0.0352,0.1037,0.1127,0.097,0.081,0.0856,0.0791,0.0844
3,wiscosin,60,0.0524,0.0469,0.1116,0.1153,0.1108,0.0907,0.0962,0.086,0.0864
4,pima_diabetes,10,0.1039,0.0944,0.1333,0.1332,0.1448,0.1155,0.1107,0.1125,0.1134

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     int64
 2   KNN           32 non-null     object
 3   MICE          32 non-null     object
 4   PMIVAE        32 non-null     object
 5   SAEI          32 non-null     object
 6   MEAN          32 non-null     object
 7   LPR0          32 non-null     object
 8   LPR1          32 non-null     object
 9   LPR2          32 non-null     object
 10  LPR3          32 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.9+ KB

In [8]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10.0,0.0474,0.0230,0.1262,0.1156,0.1123,0.0917,0.0922,0.1051,0.0885
1,wiscosin,20.0,0.0448,0.0226,0.1040,0.0945,0.0983,0.0897,0.0796,0.0889,0.0818
2,wiscosin,40.0,0.0470,0.0352,0.1037,0.1127,0.0970,0.0810,0.0856,0.0791,0.0844
3,wiscosin,60.0,0.0524,0.0469,0.1116,0.1153,0.1108,0.0907,0.0962,0.0860,0.0864
4,pima_diabetes,10.0,0.1039,0.0944,0.1333,0.1332,0.1448,0.1155,0.1107,0.1125,0.1134

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     float64
 2   KNN           32 non-null     float64
 3   MICE          32 non-null     float64
 4   PMIVAE        32 non-null     float64
 5   SAEI          32 non-null     float64
 6   MEAN          32 non-null     float64
 7   LPR0          32 non-null     float64
 8   LPR1          32 non-null     float64
 9   LPR2          32 non-null     float64
 10  LPR3          32 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.9+ KB

# Agrupando pela taxa MD

In [10]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0474,0.0230,0.1262,0.1156,0.1123,0.0917,0.0922,0.1051,0.0885
1,20.0,0.0448,0.0226,0.1040,0.0945,0.0983,0.0897,0.0796,0.0889,0.0818
2,40.0,0.0470,0.0352,0.1037,0.1127,0.0970,0.0810,0.0856,0.0791,0.0844
3,60.0,0.0524,0.0469,0.1116,0.1153,0.1108,0.0907,0.0962,0.0860,0.0864
4,10.0,0.1039,0.0944,0.1333,0.1332,0.1448,0.1155,0.1107,0.1125,0.1134
5,20.0,0.1024,0.0950,0.1260,0.1203,0.1123,0.1189,0.1204,0.1143,0.1043
6,40.0,0.1008,0.1053,0.1281,0.1285,0.1270,0.1252,0.1137,0.1198,0.1069
7,60.0,0.1226,0.1362,0.1295,0.1446,0.1333,0.1279,0.1195,0.1222,0.1200
8,10.0,0.1578,0.1123,0.1906,0.1706,0.1674,0.1271,0.1818,0.1517,0.1178
9,20.0,0.1916,0.1344,0.1976,0.2078,0.1706,0.1329,0.1561,0.1617,0.1812

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  32 non-null     float64
 1   KNN           32 non-null     float64
 2   MICE          32 non-null     float64
 3   PMIVAE        32 non-null     float64
 4   SAEI          32 non-null     float64
 5   MEAN          32 non-null     float64
 6   LPR0          32 non-null     float64
 7   LPR1          32 non-null     float64
 8   LPR2          32 non-null     float64
 9   LPR3          32 non-null     float64
dtypes: float64(10)
memory usage: 2.6 KB

In [12]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [13]:
df2.to_csv("MAR-MEDIAN-UCI.csv")

In [14]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.127188,0.107737,0.179737,0.178462,0.182850,0.144900,0.159225,0.164988,0.148125
20.0,0.139387,0.109637,0.169412,0.184225,0.176225,0.154138,0.158725,0.151113,0.156738
40.0,0.133337,0.137775,0.157700,0.162812,0.171025,0.155750,0.162700,0.155287,0.143425
60.0,0.144838,0.168350,0.168038,0.175800,0.179500,0.159388,0.162912,0.153388,0.156488