In [1]:
import pandas as pd

In [2]:
ls

MNAR-MBOUV.csv  select.ipynb

In [3]:
df = pd.read_csv("MNAR-MBOUV.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,wiscosin,10,0.0981 ± 0.0216,0.0894 ± 0.0239,0.1076 ± 0.0216,0.1134 ± 0.0145,0.0985 ± 0.0142,0.0916 ± 0.0183,0.0993 ± 0.0223,0.1036 ± 0.017,0.1053 ± 0.0225
1,1,wiscosin,20,0.0779 ± 0.0135,0.0761 ± 0.0085,0.1097 ± 0.0071,0.114 ± 0.0191,0.1116 ± 0.0054,0.1066 ± 0.0254,0.1003 ± 0.0138,0.0927 ± 0.0163,0.11 ± 0.0143
2,2,wiscosin,40,0.0837 ± 0.0132,0.0759 ± 0.006,0.1132 ± 0.0062,0.1221 ± 0.0065,0.1096 ± 0.0064,0.1069 ± 0.0113,0.1106 ± 0.0176,0.1004 ± 0.0109,0.1007 ± 0.0062
3,3,wiscosin,60,0.0894 ± 0.0076,0.0826 ± 0.0099,0.1122 ± 0.0093,0.1372 ± 0.023,0.1104 ± 0.0061,0.1005 ± 0.0059,0.102 ± 0.0093,0.1056 ± 0.0139,0.1025 ± 0.0078
4,4,pima_diabetes,10,0.1283 ± 0.0075,0.1195 ± 0.0106,0.1201 ± 0.0108,0.1378 ± 0.0196,0.1287 ± 0.0124,0.1211 ± 0.0227,0.121 ± 0.0153,0.1248 ± 0.0181,0.1317 ± 0.0113

In [4]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [5]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0981 ± 0.0216,0.0894 ± 0.0239,0.1076 ± 0.0216,0.1134 ± 0.0145,0.0985 ± 0.0142,0.0916 ± 0.0183,0.0993 ± 0.0223,0.1036 ± 0.017,0.1053 ± 0.0225
1,wiscosin,20,0.0779 ± 0.0135,0.0761 ± 0.0085,0.1097 ± 0.0071,0.114 ± 0.0191,0.1116 ± 0.0054,0.1066 ± 0.0254,0.1003 ± 0.0138,0.0927 ± 0.0163,0.11 ± 0.0143
2,wiscosin,40,0.0837 ± 0.0132,0.0759 ± 0.006,0.1132 ± 0.0062,0.1221 ± 0.0065,0.1096 ± 0.0064,0.1069 ± 0.0113,0.1106 ± 0.0176,0.1004 ± 0.0109,0.1007 ± 0.0062
3,wiscosin,60,0.0894 ± 0.0076,0.0826 ± 0.0099,0.1122 ± 0.0093,0.1372 ± 0.023,0.1104 ± 0.0061,0.1005 ± 0.0059,0.102 ± 0.0093,0.1056 ± 0.0139,0.1025 ± 0.0078
4,pima_diabetes,10,0.1283 ± 0.0075,0.1195 ± 0.0106,0.1201 ± 0.0108,0.1378 ± 0.0196,0.1287 ± 0.0124,0.1211 ± 0.0227,0.121 ± 0.0153,0.1248 ± 0.0181,0.1317 ± 0.0113

In [6]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0981,0.0894,0.1076,0.1134,0.0985,0.0916,0.0993,0.1036,0.1053
1,wiscosin,20,0.0779,0.0761,0.1097,0.114,0.1116,0.1066,0.1003,0.0927,0.11
2,wiscosin,40,0.0837,0.0759,0.1132,0.1221,0.1096,0.1069,0.1106,0.1004,0.1007
3,wiscosin,60,0.0894,0.0826,0.1122,0.1372,0.1104,0.1005,0.102,0.1056,0.1025
4,pima_diabetes,10,0.1283,0.1195,0.1201,0.1378,0.1287,0.1211,0.121,0.1248,0.1317

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     int64
 2   KNN           32 non-null     object
 3   MICE          32 non-null     object
 4   PMIVAE        32 non-null     object
 5   SAEI          32 non-null     object
 6   MEAN          32 non-null     object
 7   LPR0          32 non-null     object
 8   LPR1          32 non-null     object
 9   LPR2          32 non-null     object
 10  LPR3          32 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.9+ KB

In [8]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10.0,0.0981,0.0894,0.1076,0.1134,0.0985,0.0916,0.0993,0.1036,0.1053
1,wiscosin,20.0,0.0779,0.0761,0.1097,0.1140,0.1116,0.1066,0.1003,0.0927,0.1100
2,wiscosin,40.0,0.0837,0.0759,0.1132,0.1221,0.1096,0.1069,0.1106,0.1004,0.1007
3,wiscosin,60.0,0.0894,0.0826,0.1122,0.1372,0.1104,0.1005,0.1020,0.1056,0.1025
4,pima_diabetes,10.0,0.1283,0.1195,0.1201,0.1378,0.1287,0.1211,0.1210,0.1248,0.1317

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     float64
 2   KNN           32 non-null     float64
 3   MICE          32 non-null     float64
 4   PMIVAE        32 non-null     float64
 5   SAEI          32 non-null     float64
 6   MEAN          32 non-null     float64
 7   LPR0          32 non-null     float64
 8   LPR1          32 non-null     float64
 9   LPR2          32 non-null     float64
 10  LPR3          32 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.9+ KB

# Agrupando pela taxa MD

In [10]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0981,0.0894,0.1076,0.1134,0.0985,0.0916,0.0993,0.1036,0.1053
1,20.0,0.0779,0.0761,0.1097,0.1140,0.1116,0.1066,0.1003,0.0927,0.1100
2,40.0,0.0837,0.0759,0.1132,0.1221,0.1096,0.1069,0.1106,0.1004,0.1007
3,60.0,0.0894,0.0826,0.1122,0.1372,0.1104,0.1005,0.1020,0.1056,0.1025
4,10.0,0.1283,0.1195,0.1201,0.1378,0.1287,0.1211,0.1210,0.1248,0.1317
5,20.0,0.1272,0.1189,0.1228,0.1322,0.1317,0.1320,0.1242,0.1274,0.1279
6,40.0,0.1316,0.1214,0.1297,0.1430,0.1306,0.1262,0.1231,0.1241,0.1296
7,60.0,0.1289,0.1207,0.1265,0.1520,0.1268,0.1241,0.1240,0.1218,0.1242
8,10.0,0.1617,0.1730,0.1801,0.1875,0.1500,0.1703,0.1328,0.1341,0.1765
9,20.0,0.1830,0.1803,0.1771,0.1805,0.1699,0.2174,0.1862,0.1789,0.1400

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  32 non-null     float64
 1   KNN           32 non-null     float64
 2   MICE          32 non-null     float64
 3   PMIVAE        32 non-null     float64
 4   SAEI          32 non-null     float64
 5   MEAN          32 non-null     float64
 6   LPR0          32 non-null     float64
 7   LPR1          32 non-null     float64
 8   LPR2          32 non-null     float64
 9   LPR3          32 non-null     float64
dtypes: float64(10)
memory usage: 2.6 KB

In [12]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [13]:
df2.to_csv("MNAR_MBOUV_GERAL.csv")

In [14]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.164625,0.166825,0.158800,0.178825,0.174012,0.162025,0.159125,0.158938,0.169262
20.0,0.165225,0.167325,0.159700,0.177737,0.176287,0.171325,0.167325,0.163763,0.165888
40.0,0.165275,0.163862,0.166738,0.177050,0.176700,0.166263,0.168288,0.173575,0.167263
60.0,0.171300,0.176187,0.164225,0.180438,0.176300,0.169400,0.168338,0.169387,0.171737