In [1]:
import pandas as pd

In [2]:
ls

MNAR-MNAR.csv  select.ipynb

In [3]:
df = pd.read_csv("MNAR-MNAR.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,sylva_prior,10,0.0532 ± 0.0007,0.0499 ± 0.0005,0.0582 ± 0.0011,0.0728 ± 0.0069,0.0877 ± 0.0003,0.0801 ± 0.0004,0.0798 ± 0.0007,0.0799 ± 0.0008,0.0797 ± 0.0006
1,1,sylva_prior,20,0.0674 ± 0.0014,0.0591 ± 0.0009,0.0612 ± 0.0004,0.0675 ± 0.0054,0.087 ± 0.0004,0.0797 ± 0.0004,0.0799 ± 0.0007,0.0799 ± 0.0003,0.0798 ± 0.0005
2,2,sylva_prior,40,0.0874 ± 0.0006,0.0732 ± 0.001,0.0748 ± 0.0005,0.0627 ± 0.0095,0.0898 ± 0.0004,0.0834 ± 0.0003,0.0837 ± 0.0004,0.0837 ± 0.0005,0.0836 ± 0.0005
3,3,sylva_prior,60,0.1119 ± 0.0002,0.0866 ± 0.0015,0.0745 ± 0.0006,0.0595 ± 0.0066,0.0947 ± 0.0004,0.0935 ± 0.0006,0.0937 ± 0.0005,0.0935 ± 0.0006,0.0945 ± 0.0003
4,4,fri_c4_1000_100,10,0.5352 ± 0.3566,0.5902 ± 0.341,0.5792 ± 0.3912,0.6572 ± 0.3231,0.5847 ± 0.3326,0.5684 ± 0.3334,0.5916 ± 0.4557,0.5479 ± 0.3731,0.6186 ± 0.3753

In [4]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [5]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0532 ± 0.0007,0.0499 ± 0.0005,0.0582 ± 0.0011,0.0728 ± 0.0069,0.0877 ± 0.0003,0.0801 ± 0.0004,0.0798 ± 0.0007,0.0799 ± 0.0008,0.0797 ± 0.0006
1,sylva_prior,20,0.0674 ± 0.0014,0.0591 ± 0.0009,0.0612 ± 0.0004,0.0675 ± 0.0054,0.087 ± 0.0004,0.0797 ± 0.0004,0.0799 ± 0.0007,0.0799 ± 0.0003,0.0798 ± 0.0005
2,sylva_prior,40,0.0874 ± 0.0006,0.0732 ± 0.001,0.0748 ± 0.0005,0.0627 ± 0.0095,0.0898 ± 0.0004,0.0834 ± 0.0003,0.0837 ± 0.0004,0.0837 ± 0.0005,0.0836 ± 0.0005
3,sylva_prior,60,0.1119 ± 0.0002,0.0866 ± 0.0015,0.0745 ± 0.0006,0.0595 ± 0.0066,0.0947 ± 0.0004,0.0935 ± 0.0006,0.0937 ± 0.0005,0.0935 ± 0.0006,0.0945 ± 0.0003
4,fri_c4_1000_100,10,0.5352 ± 0.3566,0.5902 ± 0.341,0.5792 ± 0.3912,0.6572 ± 0.3231,0.5847 ± 0.3326,0.5684 ± 0.3334,0.5916 ± 0.4557,0.5479 ± 0.3731,0.6186 ± 0.3753

In [6]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0532,0.0499,0.0582,0.0728,0.0877,0.0801,0.0798,0.0799,0.0797
1,sylva_prior,20,0.0674,0.0591,0.0612,0.0675,0.087,0.0797,0.0799,0.0799,0.0798
2,sylva_prior,40,0.0874,0.0732,0.0748,0.0627,0.0898,0.0834,0.0837,0.0837,0.0836
3,sylva_prior,60,0.1119,0.0866,0.0745,0.0595,0.0947,0.0935,0.0937,0.0935,0.0945
4,fri_c4_1000_100,10,0.5352,0.5902,0.5792,0.6572,0.5847,0.5684,0.5916,0.5479,0.6186

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      int64
 2   KNN           8 non-null      object
 3   MICE          8 non-null      object
 4   PMIVAE        8 non-null      object
 5   SAEI          8 non-null      object
 6   MEAN          8 non-null      object
 7   LPR0          8 non-null      object
 8   LPR1          8 non-null      object
 9   LPR2          8 non-null      object
 10  LPR3          8 non-null      object
dtypes: int64(1), object(10)
memory usage: 836.0+ bytes

In [8]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10.0,0.0532,0.0499,0.0582,0.0728,0.0877,0.0801,0.0798,0.0799,0.0797
1,sylva_prior,20.0,0.0674,0.0591,0.0612,0.0675,0.0870,0.0797,0.0799,0.0799,0.0798
2,sylva_prior,40.0,0.0874,0.0732,0.0748,0.0627,0.0898,0.0834,0.0837,0.0837,0.0836
3,sylva_prior,60.0,0.1119,0.0866,0.0745,0.0595,0.0947,0.0935,0.0937,0.0935,0.0945
4,fri_c4_1000_100,10.0,0.5352,0.5902,0.5792,0.6572,0.5847,0.5684,0.5916,0.5479,0.6186

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      float64
 2   KNN           8 non-null      float64
 3   MICE          8 non-null      float64
 4   PMIVAE        8 non-null      float64
 5   SAEI          8 non-null      float64
 6   MEAN          8 non-null      float64
 7   LPR0          8 non-null      float64
 8   LPR1          8 non-null      float64
 9   LPR2          8 non-null      float64
 10  LPR3          8 non-null      float64
dtypes: float64(10), object(1)
memory usage: 836.0+ bytes

# Agrupando pela taxa MD

In [10]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0532,0.0499,0.0582,0.0728,0.0877,0.0801,0.0798,0.0799,0.0797
1,20.0,0.0674,0.0591,0.0612,0.0675,0.0870,0.0797,0.0799,0.0799,0.0798
2,40.0,0.0874,0.0732,0.0748,0.0627,0.0898,0.0834,0.0837,0.0837,0.0836
3,60.0,0.1119,0.0866,0.0745,0.0595,0.0947,0.0935,0.0937,0.0935,0.0945
4,10.0,0.5352,0.5902,0.5792,0.6572,0.5847,0.5684,0.5916,0.5479,0.6186
5,20.0,0.3837,0.3819,0.3556,0.3855,0.4119,0.3603,0.4017,0.3676,0.4209
6,40.0,0.3354,0.5781,0.3099,0.2957,0.2953,0.3135,0.3201,0.2908,0.3288
7,60.0,0.2936,0.5699,0.2742,0.2296,0.2974,0.2687,0.2727,0.3183,0.3013

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  8 non-null      float64
 1   KNN           8 non-null      float64
 2   MICE          8 non-null      float64
 3   PMIVAE        8 non-null      float64
 4   SAEI          8 non-null      float64
 5   MEAN          8 non-null      float64
 6   LPR0          8 non-null      float64
 7   LPR1          8 non-null      float64
 8   LPR2          8 non-null      float64
 9   LPR3          8 non-null      float64
dtypes: float64(10)
memory usage: 772.0 bytes

In [12]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [13]:
df2.to_csv("MNAR-MBOUV-RANDOMNESS-OPENML.csv")

In [14]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.29420,0.32005,0.31870,0.36500,0.33620,0.32425,0.3357,0.31390,0.34915
20.0,0.22555,0.22050,0.20840,0.22650,0.24945,0.22000,0.2408,0.22375,0.25035
40.0,0.21140,0.32565,0.19235,0.17920,0.19255,0.19845,0.2019,0.18725,0.20620
60.0,0.20275,0.32825,0.17435,0.14455,0.19605,0.18110,0.1832,0.20590,0.19790