In [1]:
import pandas as pd

In [2]:
ls

MNAR-MBOUV-RAMDOMESS.csv  select.ipynb

In [4]:
df = pd.read_csv("MNAR-MBOUV-RAMDOMESS.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,wiscosin,10,0.076 ± 0.009,0.0496 ± 0.0084,0.1585 ± 0.0064,0.1442 ± 0.0185,0.158 ± 0.0065,0.1236 ± 0.0103,0.12 ± 0.0092,0.1221 ± 0.0086,0.1227 ± 0.011
1,1,wiscosin,20,0.0792 ± 0.0075,0.0758 ± 0.006,0.1552 ± 0.005,0.1207 ± 0.0132,0.1552 ± 0.006,0.1176 ± 0.0068,0.1184 ± 0.0075,0.1174 ± 0.0076,0.1181 ± 0.0083
2,2,wiscosin,40,0.0926 ± 0.0064,0.0924 ± 0.0039,0.1547 ± 0.0077,0.105 ± 0.0084,0.1521 ± 0.0064,0.1162 ± 0.0058,0.116 ± 0.0088,0.1165 ± 0.0077,0.116 ± 0.0075
3,3,wiscosin,60,0.1067 ± 0.0068,0.1076 ± 0.0061,0.1568 ± 0.007,0.1001 ± 0.0081,0.1569 ± 0.0069,0.1175 ± 0.0081,0.1172 ± 0.0069,0.1173 ± 0.007,0.1162 ± 0.0068
4,4,pima_diabetes,10,0.1584 ± 0.0102,0.1658 ± 0.0125,0.1952 ± 0.0147,0.1733 ± 0.0158,0.194 ± 0.0101,0.1786 ± 0.0204,0.1744 ± 0.0153,0.1787 ± 0.0229,0.1787 ± 0.0119

In [5]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [6]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.076 ± 0.009,0.0496 ± 0.0084,0.1585 ± 0.0064,0.1442 ± 0.0185,0.158 ± 0.0065,0.1236 ± 0.0103,0.12 ± 0.0092,0.1221 ± 0.0086,0.1227 ± 0.011
1,wiscosin,20,0.0792 ± 0.0075,0.0758 ± 0.006,0.1552 ± 0.005,0.1207 ± 0.0132,0.1552 ± 0.006,0.1176 ± 0.0068,0.1184 ± 0.0075,0.1174 ± 0.0076,0.1181 ± 0.0083
2,wiscosin,40,0.0926 ± 0.0064,0.0924 ± 0.0039,0.1547 ± 0.0077,0.105 ± 0.0084,0.1521 ± 0.0064,0.1162 ± 0.0058,0.116 ± 0.0088,0.1165 ± 0.0077,0.116 ± 0.0075
3,wiscosin,60,0.1067 ± 0.0068,0.1076 ± 0.0061,0.1568 ± 0.007,0.1001 ± 0.0081,0.1569 ± 0.0069,0.1175 ± 0.0081,0.1172 ± 0.0069,0.1173 ± 0.007,0.1162 ± 0.0068
4,pima_diabetes,10,0.1584 ± 0.0102,0.1658 ± 0.0125,0.1952 ± 0.0147,0.1733 ± 0.0158,0.194 ± 0.0101,0.1786 ± 0.0204,0.1744 ± 0.0153,0.1787 ± 0.0229,0.1787 ± 0.0119

In [7]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.076,0.0496,0.1585,0.1442,0.158,0.1236,0.12,0.1221,0.1227
1,wiscosin,20,0.0792,0.0758,0.1552,0.1207,0.1552,0.1176,0.1184,0.1174,0.1181
2,wiscosin,40,0.0926,0.0924,0.1547,0.105,0.1521,0.1162,0.116,0.1165,0.116
3,wiscosin,60,0.1067,0.1076,0.1568,0.1001,0.1569,0.1175,0.1172,0.1173,0.1162
4,pima_diabetes,10,0.1584,0.1658,0.1952,0.1733,0.194,0.1786,0.1744,0.1787,0.1787

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     int64
 2   KNN           32 non-null     object
 3   MICE          32 non-null     object
 4   PMIVAE        32 non-null     object
 5   SAEI          32 non-null     object
 6   MEAN          32 non-null     object
 7   LPR0          32 non-null     object
 8   LPR1          32 non-null     object
 9   LPR2          32 non-null     object
 10  LPR3          32 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.9+ KB

In [9]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10.0,0.0760,0.0496,0.1585,0.1442,0.1580,0.1236,0.1200,0.1221,0.1227
1,wiscosin,20.0,0.0792,0.0758,0.1552,0.1207,0.1552,0.1176,0.1184,0.1174,0.1181
2,wiscosin,40.0,0.0926,0.0924,0.1547,0.1050,0.1521,0.1162,0.1160,0.1165,0.1160
3,wiscosin,60.0,0.1067,0.1076,0.1568,0.1001,0.1569,0.1175,0.1172,0.1173,0.1162
4,pima_diabetes,10.0,0.1584,0.1658,0.1952,0.1733,0.1940,0.1786,0.1744,0.1787,0.1787

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     float64
 2   KNN           32 non-null     float64
 3   MICE          32 non-null     float64
 4   PMIVAE        32 non-null     float64
 5   SAEI          32 non-null     float64
 6   MEAN          32 non-null     float64
 7   LPR0          32 non-null     float64
 8   LPR1          32 non-null     float64
 9   LPR2          32 non-null     float64
 10  LPR3          32 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.9+ KB

# Agrupando pela taxa MD

In [11]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0760,0.0496,0.1585,0.1442,0.1580,0.1236,0.1200,0.1221,0.1227
1,20.0,0.0792,0.0758,0.1552,0.1207,0.1552,0.1176,0.1184,0.1174,0.1181
2,40.0,0.0926,0.0924,0.1547,0.1050,0.1521,0.1162,0.1160,0.1165,0.1160
3,60.0,0.1067,0.1076,0.1568,0.1001,0.1569,0.1175,0.1172,0.1173,0.1162
4,10.0,0.1584,0.1658,0.1952,0.1733,0.1940,0.1786,0.1744,0.1787,0.1787
5,20.0,0.1522,0.1549,0.1810,0.1583,0.1790,0.1659,0.1668,0.1669,0.1642
6,40.0,0.1623,0.1722,0.1787,0.1419,0.1794,0.1653,0.1662,0.1653,0.1625
7,60.0,0.1752,0.1791,0.1830,0.1333,0.1816,0.1701,0.1691,0.1681,0.1667
8,10.0,0.1753,0.1699,0.2410,0.1687,0.1917,0.1785,0.1717,0.1696,0.1738
9,20.0,0.1812,0.1676,0.2221,0.1460,0.2047,0.1685,0.1672,0.1896,0.1773

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  32 non-null     float64
 1   KNN           32 non-null     float64
 2   MICE          32 non-null     float64
 3   PMIVAE        32 non-null     float64
 4   SAEI          32 non-null     float64
 5   MEAN          32 non-null     float64
 6   LPR0          32 non-null     float64
 7   LPR1          32 non-null     float64
 8   LPR2          32 non-null     float64
 9   LPR3          32 non-null     float64
dtypes: float64(10)
memory usage: 2.6 KB

In [13]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [14]:
df2.to_csv("MNAR-MBOUV-RANDOMNESS.csv")

In [15]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.168175,0.157413,0.218762,0.191887,0.219075,0.196200,0.194025,0.196925,0.194962
20.0,0.179975,0.165700,0.217137,0.183325,0.218262,0.194900,0.194412,0.197325,0.194225
40.0,0.199862,0.193937,0.217400,0.168900,0.219950,0.199112,0.200450,0.200063,0.194775
60.0,0.209163,0.210875,0.225262,0.160375,0.224562,0.203400,0.204125,0.205487,0.201887