In [2]:
import pandas as pd

In [3]:
ls

MNAR-MNAR.csv  select.ipynb

In [4]:
df = pd.read_csv("MNAR-MNAR.csv")

df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [6]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0766 ± 0.0121,0.0494 ± 0.0095,0.1576 ± 0.0078,0.1465 ± 0.0159,0.1571 ± 0.006,0.1227 ± 0.0108,0.1192 ± 0.0079,0.1217 ± 0.0087,0.12 ± 0.0083
1,wiscosin,20,0.0827 ± 0.0077,0.0759 ± 0.0067,0.1557 ± 0.0061,0.1217 ± 0.0151,0.1548 ± 0.0096,0.1189 ± 0.0105,0.1158 ± 0.011,0.1172 ± 0.0088,0.1164 ± 0.0084
2,wiscosin,40,0.0924 ± 0.0076,0.0925 ± 0.0071,0.1544 ± 0.0059,0.1033 ± 0.0048,0.1532 ± 0.008,0.1156 ± 0.008,0.1158 ± 0.0076,0.1158 ± 0.0068,0.1157 ± 0.0075
3,wiscosin,60,0.1062 ± 0.008,0.1082 ± 0.0061,0.1583 ± 0.008,0.1026 ± 0.0107,0.1571 ± 0.0065,0.1178 ± 0.0069,0.118 ± 0.0069,0.1172 ± 0.0072,0.1165 ± 0.0081
4,pima_diabetes,10,0.1585 ± 0.0118,0.1646 ± 0.0144,0.1922 ± 0.0142,0.185 ± 0.0175,0.196 ± 0.0158,0.1761 ± 0.016,0.1772 ± 0.0203,0.1765 ± 0.0193,0.1785 ± 0.0216

In [8]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0766,0.0494,0.1576,0.1465,0.1571,0.1227,0.1192,0.1217,0.12
1,wiscosin,20,0.0827,0.0759,0.1557,0.1217,0.1548,0.1189,0.1158,0.1172,0.1164
2,wiscosin,40,0.0924,0.0925,0.1544,0.1033,0.1532,0.1156,0.1158,0.1158,0.1157
3,wiscosin,60,0.1062,0.1082,0.1583,0.1026,0.1571,0.1178,0.118,0.1172,0.1165
4,pima_diabetes,10,0.1585,0.1646,0.1922,0.185,0.196,0.1761,0.1772,0.1765,0.1785

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     int64
 2   KNN           32 non-null     object
 3   MICE          32 non-null     object
 4   PMIVAE        32 non-null     object
 5   SAEI          32 non-null     object
 6   MEAN          32 non-null     object
 7   LPR0          32 non-null     object
 8   LPR1          32 non-null     object
 9   LPR2          32 non-null     object
 10  LPR3          32 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.9+ KB

In [10]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10.0,0.0766,0.0494,0.1576,0.1465,0.1571,0.1227,0.1192,0.1217,0.1200
1,wiscosin,20.0,0.0827,0.0759,0.1557,0.1217,0.1548,0.1189,0.1158,0.1172,0.1164
2,wiscosin,40.0,0.0924,0.0925,0.1544,0.1033,0.1532,0.1156,0.1158,0.1158,0.1157
3,wiscosin,60.0,0.1062,0.1082,0.1583,0.1026,0.1571,0.1178,0.1180,0.1172,0.1165
4,pima_diabetes,10.0,0.1585,0.1646,0.1922,0.1850,0.1960,0.1761,0.1772,0.1765,0.1785

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     float64
 2   KNN           32 non-null     float64
 3   MICE          32 non-null     float64
 4   PMIVAE        32 non-null     float64
 5   SAEI          32 non-null     float64
 6   MEAN          32 non-null     float64
 7   LPR0          32 non-null     float64
 8   LPR1          32 non-null     float64
 9   LPR2          32 non-null     float64
 10  LPR3          32 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.9+ KB

# Agrupando pela taxa MD

In [12]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0766,0.0494,0.1576,0.1465,0.1571,0.1227,0.1192,0.1217,0.1200
1,20.0,0.0827,0.0759,0.1557,0.1217,0.1548,0.1189,0.1158,0.1172,0.1164
2,40.0,0.0924,0.0925,0.1544,0.1033,0.1532,0.1156,0.1158,0.1158,0.1157
3,60.0,0.1062,0.1082,0.1583,0.1026,0.1571,0.1178,0.1180,0.1172,0.1165
4,10.0,0.1585,0.1646,0.1922,0.1850,0.1960,0.1761,0.1772,0.1765,0.1785
5,20.0,0.1561,0.1520,0.1781,0.1590,0.1794,0.1665,0.1673,0.1681,0.1655
6,40.0,0.1592,0.1692,0.1778,0.1425,0.1747,0.1636,0.1641,0.1652,0.1665
7,60.0,0.1761,0.1790,0.1803,0.1366,0.1807,0.1706,0.1695,0.1685,0.1694
8,10.0,0.1806,0.1870,0.2317,0.1719,0.1931,0.1631,0.1630,0.1720,0.1555
9,20.0,0.1853,0.1780,0.2190,0.1591,0.2039,0.1651,0.1753,0.1762,0.1694

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  32 non-null     float64
 1   KNN           32 non-null     float64
 2   MICE          32 non-null     float64
 3   PMIVAE        32 non-null     float64
 4   SAEI          32 non-null     float64
 5   MEAN          32 non-null     float64
 6   LPR0          32 non-null     float64
 7   LPR1          32 non-null     float64
 8   LPR2          32 non-null     float64
 9   LPR3          32 non-null     float64
dtypes: float64(10)
memory usage: 2.6 KB

In [17]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [18]:
df2.to_csv("Resultados_MNAR_MBOUV_RANDOMESS_missing_rate.csv")

In [16]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.169825,0.163587,0.214150,0.195912,0.219738,0.193713,0.194150,0.197475,0.192488
20.0,0.182862,0.167437,0.216163,0.189375,0.218188,0.194525,0.195075,0.196100,0.193000
40.0,0.201162,0.194038,0.217325,0.166525,0.218712,0.199037,0.197675,0.199150,0.198288
60.0,0.206088,0.210250,0.225612,0.165362,0.225925,0.206625,0.204363,0.206013,0.201475