In [1]:
import pandas as pd

In [4]:
ls

MNAR-MNAR.csv  select.ipynb

In [6]:
df = pd.read_csv("MNAR-MNAR.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,sylva_prior,10,0.0743 ± 0.0026,0.0825 ± 0.0018,0.0599 ± 0.0017,0.0738 ± 0.0042,0.0803 ± 0.0011,0.0788 ± 0.002,0.0783 ± 0.0014,0.0795 ± 0.0022,0.0779 ± 0.0027
1,1,sylva_prior,20,0.0734 ± 0.0029,0.0804 ± 0.0016,0.061 ± 0.0005,0.0774 ± 0.0041,0.08 ± 0.0004,0.0796 ± 0.0014,0.0791 ± 0.0011,0.0799 ± 0.0008,0.0785 ± 0.0011
2,2,sylva_prior,40,0.074 ± 0.0023,0.079 ± 0.001,0.0611 ± 0.0004,0.0762 ± 0.0025,0.0802 ± 0.0004,0.0788 ± 0.0009,0.0795 ± 0.0008,0.0792 ± 0.0012,0.0798 ± 0.0012
3,3,sylva_prior,60,0.0745 ± 0.0016,0.0779 ± 0.0011,0.0615 ± 0.0003,0.0771 ± 0.0083,0.0807 ± 0.0003,0.0796 ± 0.0009,0.0791 ± 0.0006,0.0789 ± 0.0008,0.0785 ± 0.0011
4,4,fri_c4_1000_100,10,0.1479 ± 0.0355,0.2 ± 0.1287,0.1783 ± 0.0893,0.1517 ± 0.0735,0.2292 ± 0.1798,0.3024 ± 0.1455,0.1451 ± 0.0661,0.5223 ± 0.5538,0.1751 ± 0.0631

In [7]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [8]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0743 ± 0.0026,0.0825 ± 0.0018,0.0599 ± 0.0017,0.0738 ± 0.0042,0.0803 ± 0.0011,0.0788 ± 0.002,0.0783 ± 0.0014,0.0795 ± 0.0022,0.0779 ± 0.0027
1,sylva_prior,20,0.0734 ± 0.0029,0.0804 ± 0.0016,0.061 ± 0.0005,0.0774 ± 0.0041,0.08 ± 0.0004,0.0796 ± 0.0014,0.0791 ± 0.0011,0.0799 ± 0.0008,0.0785 ± 0.0011
2,sylva_prior,40,0.074 ± 0.0023,0.079 ± 0.001,0.0611 ± 0.0004,0.0762 ± 0.0025,0.0802 ± 0.0004,0.0788 ± 0.0009,0.0795 ± 0.0008,0.0792 ± 0.0012,0.0798 ± 0.0012
3,sylva_prior,60,0.0745 ± 0.0016,0.0779 ± 0.0011,0.0615 ± 0.0003,0.0771 ± 0.0083,0.0807 ± 0.0003,0.0796 ± 0.0009,0.0791 ± 0.0006,0.0789 ± 0.0008,0.0785 ± 0.0011
4,fri_c4_1000_100,10,0.1479 ± 0.0355,0.2 ± 0.1287,0.1783 ± 0.0893,0.1517 ± 0.0735,0.2292 ± 0.1798,0.3024 ± 0.1455,0.1451 ± 0.0661,0.5223 ± 0.5538,0.1751 ± 0.0631

In [9]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0743,0.0825,0.0599,0.0738,0.0803,0.0788,0.0783,0.0795,0.0779
1,sylva_prior,20,0.0734,0.0804,0.061,0.0774,0.08,0.0796,0.0791,0.0799,0.0785
2,sylva_prior,40,0.074,0.079,0.0611,0.0762,0.0802,0.0788,0.0795,0.0792,0.0798
3,sylva_prior,60,0.0745,0.0779,0.0615,0.0771,0.0807,0.0796,0.0791,0.0789,0.0785
4,fri_c4_1000_100,10,0.1479,0.2,0.1783,0.1517,0.2292,0.3024,0.1451,0.5223,0.1751

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      int64
 2   KNN           8 non-null      object
 3   MICE          8 non-null      object
 4   PMIVAE        8 non-null      object
 5   SAEI          8 non-null      object
 6   MEAN          8 non-null      object
 7   LPR0          8 non-null      object
 8   LPR1          8 non-null      object
 9   LPR2          8 non-null      object
 10  LPR3          8 non-null      object
dtypes: int64(1), object(10)
memory usage: 836.0+ bytes

In [11]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10.0,0.0743,0.0825,0.0599,0.0738,0.0803,0.0788,0.0783,0.0795,0.0779
1,sylva_prior,20.0,0.0734,0.0804,0.0610,0.0774,0.0800,0.0796,0.0791,0.0799,0.0785
2,sylva_prior,40.0,0.0740,0.0790,0.0611,0.0762,0.0802,0.0788,0.0795,0.0792,0.0798
3,sylva_prior,60.0,0.0745,0.0779,0.0615,0.0771,0.0807,0.0796,0.0791,0.0789,0.0785
4,fri_c4_1000_100,10.0,0.1479,0.2000,0.1783,0.1517,0.2292,0.3024,0.1451,0.5223,0.1751

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      float64
 2   KNN           8 non-null      float64
 3   MICE          8 non-null      float64
 4   PMIVAE        8 non-null      float64
 5   SAEI          8 non-null      float64
 6   MEAN          8 non-null      float64
 7   LPR0          8 non-null      float64
 8   LPR1          8 non-null      float64
 9   LPR2          8 non-null      float64
 10  LPR3          8 non-null      float64
dtypes: float64(10), object(1)
memory usage: 836.0+ bytes

# Agrupando pela taxa MD

In [14]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0743,0.0825,0.0599,0.0738,0.0803,0.0788,0.0783,0.0795,0.0779
1,20.0,0.0734,0.0804,0.0610,0.0774,0.0800,0.0796,0.0791,0.0799,0.0785
2,40.0,0.0740,0.0790,0.0611,0.0762,0.0802,0.0788,0.0795,0.0792,0.0798
3,60.0,0.0745,0.0779,0.0615,0.0771,0.0807,0.0796,0.0791,0.0789,0.0785
4,10.0,0.1479,0.2000,0.1783,0.1517,0.2292,0.3024,0.1451,0.5223,0.1751
5,20.0,0.2738,0.1843,0.2250,0.2282,0.2178,0.2598,0.1714,0.1893,0.1864
6,40.0,0.2419,0.1753,0.1921,0.2434,0.2493,0.2231,0.2431,0.2287,0.1893
7,60.0,0.2648,0.2366,0.2399,0.3064,0.2089,0.2022,0.2099,0.2367,0.2556

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  8 non-null      float64
 1   KNN           8 non-null      float64
 2   MICE          8 non-null      float64
 3   PMIVAE        8 non-null      float64
 4   SAEI          8 non-null      float64
 5   MEAN          8 non-null      float64
 6   LPR0          8 non-null      float64
 7   LPR1          8 non-null      float64
 8   LPR2          8 non-null      float64
 9   LPR3          8 non-null      float64
dtypes: float64(10)
memory usage: 772.0 bytes

In [16]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [19]:
df2.to_csv("MNAR-MBOUV-OPENML.csv")

In [20]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.11110,0.14125,0.1191,0.11275,0.15475,0.19060,0.11170,0.30090,0.12650
20.0,0.17360,0.13235,0.1430,0.15280,0.14890,0.16970,0.12525,0.13460,0.13245
40.0,0.15795,0.12715,0.1266,0.15980,0.16475,0.15095,0.16130,0.15395,0.13455
60.0,0.16965,0.15725,0.1507,0.19175,0.14480,0.14090,0.14450,0.15780,0.16705