In [1]:
import pandas as pd

In [2]:
ls

MNAR-MAR.csv  select.ipynb

In [3]:
df = pd.read_csv("MNAR-MAR.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,sylva_prior,10,0.0412 ± 0.0045,0.041 ± 0.0046,0.0604 ± 0.0086,0.0824 ± 0.0093,0.0867 ± 0.0078,0.0685 ± 0.0073,0.0749 ± 0.0077,0.0746 ± 0.0136,0.0784 ± 0.0087
1,1,sylva_prior,20,0.0456 ± 0.0054,0.1858 ± 0.1804,0.0583 ± 0.0079,0.0719 ± 0.0125,0.08 ± 0.0053,0.0692 ± 0.0047,0.0746 ± 0.0065,0.0782 ± 0.013,0.08 ± 0.004
2,2,sylva_prior,40,0.0485 ± 0.0034,0.0639 ± 0.0038,0.0615 ± 0.0056,0.0675 ± 0.0069,0.0857 ± 0.0124,0.0757 ± 0.0091,0.0629 ± 0.0061,0.072 ± 0.0059,0.069 ± 0.0068
3,3,sylva_prior,60,0.0508 ± 0.0026,0.0791 ± 0.0069,0.0607 ± 0.0152,0.0759 ± 0.0056,0.083 ± 0.0133,0.0719 ± 0.0074,0.0732 ± 0.0065,0.0735 ± 0.0106,0.0788 ± 0.0103
4,4,fri_c4_1000_100,10,0.5718 ± 0.1534,0.5776 ± 0.4234,0.2511 ± 0.1825,0.175 ± 0.1291,0.4404 ± 0.4408,0.4625 ± 0.4224,0.2394 ± 0.205,0.2634 ± 0.203,0.3317 ± 0.4007

In [4]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [5]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0412 ± 0.0045,0.041 ± 0.0046,0.0604 ± 0.0086,0.0824 ± 0.0093,0.0867 ± 0.0078,0.0685 ± 0.0073,0.0749 ± 0.0077,0.0746 ± 0.0136,0.0784 ± 0.0087
1,sylva_prior,20,0.0456 ± 0.0054,0.1858 ± 0.1804,0.0583 ± 0.0079,0.0719 ± 0.0125,0.08 ± 0.0053,0.0692 ± 0.0047,0.0746 ± 0.0065,0.0782 ± 0.013,0.08 ± 0.004
2,sylva_prior,40,0.0485 ± 0.0034,0.0639 ± 0.0038,0.0615 ± 0.0056,0.0675 ± 0.0069,0.0857 ± 0.0124,0.0757 ± 0.0091,0.0629 ± 0.0061,0.072 ± 0.0059,0.069 ± 0.0068
3,sylva_prior,60,0.0508 ± 0.0026,0.0791 ± 0.0069,0.0607 ± 0.0152,0.0759 ± 0.0056,0.083 ± 0.0133,0.0719 ± 0.0074,0.0732 ± 0.0065,0.0735 ± 0.0106,0.0788 ± 0.0103
4,fri_c4_1000_100,10,0.5718 ± 0.1534,0.5776 ± 0.4234,0.2511 ± 0.1825,0.175 ± 0.1291,0.4404 ± 0.4408,0.4625 ± 0.4224,0.2394 ± 0.205,0.2634 ± 0.203,0.3317 ± 0.4007

In [6]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0412,0.041,0.0604,0.0824,0.0867,0.0685,0.0749,0.0746,0.0784
1,sylva_prior,20,0.0456,0.1858,0.0583,0.0719,0.08,0.0692,0.0746,0.0782,0.08
2,sylva_prior,40,0.0485,0.0639,0.0615,0.0675,0.0857,0.0757,0.0629,0.072,0.069
3,sylva_prior,60,0.0508,0.0791,0.0607,0.0759,0.083,0.0719,0.0732,0.0735,0.0788
4,fri_c4_1000_100,10,0.5718,0.5776,0.2511,0.175,0.4404,0.4625,0.2394,0.2634,0.3317

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      int64
 2   KNN           8 non-null      object
 3   MICE          8 non-null      object
 4   PMIVAE        8 non-null      object
 5   SAEI          8 non-null      object
 6   MEAN          8 non-null      object
 7   LPR0          8 non-null      object
 8   LPR1          8 non-null      object
 9   LPR2          8 non-null      object
 10  LPR3          8 non-null      object
dtypes: int64(1), object(10)
memory usage: 836.0+ bytes

In [8]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10.0,0.0412,0.0410,0.0604,0.0824,0.0867,0.0685,0.0749,0.0746,0.0784
1,sylva_prior,20.0,0.0456,0.1858,0.0583,0.0719,0.0800,0.0692,0.0746,0.0782,0.0800
2,sylva_prior,40.0,0.0485,0.0639,0.0615,0.0675,0.0857,0.0757,0.0629,0.0720,0.0690
3,sylva_prior,60.0,0.0508,0.0791,0.0607,0.0759,0.0830,0.0719,0.0732,0.0735,0.0788
4,fri_c4_1000_100,10.0,0.5718,0.5776,0.2511,0.1750,0.4404,0.4625,0.2394,0.2634,0.3317

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      float64
 2   KNN           8 non-null      float64
 3   MICE          8 non-null      float64
 4   PMIVAE        8 non-null      float64
 5   SAEI          8 non-null      float64
 6   MEAN          8 non-null      float64
 7   LPR0          8 non-null      float64
 8   LPR1          8 non-null      float64
 9   LPR2          8 non-null      float64
 10  LPR3          8 non-null      float64
dtypes: float64(10), object(1)
memory usage: 836.0+ bytes

# Agrupando pela taxa MD

In [10]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0412,0.0410,0.0604,0.0824,0.0867,0.0685,0.0749,0.0746,0.0784
1,20.0,0.0456,0.1858,0.0583,0.0719,0.0800,0.0692,0.0746,0.0782,0.0800
2,40.0,0.0485,0.0639,0.0615,0.0675,0.0857,0.0757,0.0629,0.0720,0.0690
3,60.0,0.0508,0.0791,0.0607,0.0759,0.0830,0.0719,0.0732,0.0735,0.0788
4,10.0,0.5718,0.5776,0.2511,0.1750,0.4404,0.4625,0.2394,0.2634,0.3317
5,20.0,0.1835,0.2510,0.1510,0.2205,0.1269,0.1554,0.2117,0.2849,0.1755
6,40.0,0.1404,0.3149,0.1605,0.1433,0.1651,0.2068,0.1504,0.2022,0.1557
7,60.0,0.1878,0.3170,0.2634,0.1929,0.2491,0.2440,0.2066,0.2156,0.2713

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  8 non-null      float64
 1   KNN           8 non-null      float64
 2   MICE          8 non-null      float64
 3   PMIVAE        8 non-null      float64
 4   SAEI          8 non-null      float64
 5   MEAN          8 non-null      float64
 6   LPR0          8 non-null      float64
 7   LPR1          8 non-null      float64
 8   LPR2          8 non-null      float64
 9   LPR3          8 non-null      float64
dtypes: float64(10)
memory usage: 772.0 bytes

In [12]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [14]:
df2.to_csv("MAR-MEDIAN-OPENML.csv")

In [15]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.30650,0.30930,0.15575,0.1287,0.26355,0.26550,0.15715,0.16900,0.20505
20.0,0.11455,0.21840,0.10465,0.1462,0.10345,0.11230,0.14315,0.18155,0.12775
40.0,0.09445,0.18940,0.11100,0.1054,0.12540,0.14125,0.10665,0.13710,0.11235
60.0,0.11930,0.19805,0.16205,0.1344,0.16605,0.15795,0.13990,0.14455,0.17505