In [11]:
import pandas as pd

In [12]:
ls

MAR-MEDIAN.csv  select.ipynb

In [13]:
df = pd.read_csv("MAR-MEDIAN.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,wiscosin,10,0.0449 ± 0.0068,0.0215 ± 0.0037,0.1165 ± 0.0117,0.1054 ± 0.0104,0.1165 ± 0.0289,0.097 ± 0.018,0.0871 ± 0.0112,0.0925 ± 0.0122,0.1001 ± 0.0136
1,1,wiscosin,20,0.0404 ± 0.0036,0.0223 ± 0.0033,0.1161 ± 0.0165,0.1068 ± 0.0364,0.105 ± 0.0148,0.0832 ± 0.0128,0.0905 ± 0.0162,0.0833 ± 0.0109,0.0894 ± 0.0113
2,2,wiscosin,40,0.0452 ± 0.0058,0.0337 ± 0.0047,0.1041 ± 0.009,0.1126 ± 0.0215,0.1111 ± 0.0106,0.082 ± 0.0067,0.0827 ± 0.0063,0.0828 ± 0.0073,0.0822 ± 0.0108
3,3,wiscosin,60,0.0549 ± 0.0131,0.0411 ± 0.0117,0.1175 ± 0.0119,0.1281 ± 0.0092,0.111 ± 0.0107,0.0879 ± 0.0135,0.0917 ± 0.0022,0.0885 ± 0.0159,0.0877 ± 0.0104
4,4,pima_diabetes,10,0.0847 ± 0.0265,0.0996 ± 0.0201,0.1306 ± 0.0083,0.1238 ± 0.0247,0.1312 ± 0.0106,0.1228 ± 0.018,0.11 ± 0.0305,0.1125 ± 0.0186,0.1003 ± 0.0176

In [14]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [15]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0449 ± 0.0068,0.0215 ± 0.0037,0.1165 ± 0.0117,0.1054 ± 0.0104,0.1165 ± 0.0289,0.097 ± 0.018,0.0871 ± 0.0112,0.0925 ± 0.0122,0.1001 ± 0.0136
1,wiscosin,20,0.0404 ± 0.0036,0.0223 ± 0.0033,0.1161 ± 0.0165,0.1068 ± 0.0364,0.105 ± 0.0148,0.0832 ± 0.0128,0.0905 ± 0.0162,0.0833 ± 0.0109,0.0894 ± 0.0113
2,wiscosin,40,0.0452 ± 0.0058,0.0337 ± 0.0047,0.1041 ± 0.009,0.1126 ± 0.0215,0.1111 ± 0.0106,0.082 ± 0.0067,0.0827 ± 0.0063,0.0828 ± 0.0073,0.0822 ± 0.0108
3,wiscosin,60,0.0549 ± 0.0131,0.0411 ± 0.0117,0.1175 ± 0.0119,0.1281 ± 0.0092,0.111 ± 0.0107,0.0879 ± 0.0135,0.0917 ± 0.0022,0.0885 ± 0.0159,0.0877 ± 0.0104
4,pima_diabetes,10,0.0847 ± 0.0265,0.0996 ± 0.0201,0.1306 ± 0.0083,0.1238 ± 0.0247,0.1312 ± 0.0106,0.1228 ± 0.018,0.11 ± 0.0305,0.1125 ± 0.0186,0.1003 ± 0.0176

In [16]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10,0.0449,0.0215,0.1165,0.1054,0.1165,0.097,0.0871,0.0925,0.1001
1,wiscosin,20,0.0404,0.0223,0.1161,0.1068,0.105,0.0832,0.0905,0.0833,0.0894
2,wiscosin,40,0.0452,0.0337,0.1041,0.1126,0.1111,0.082,0.0827,0.0828,0.0822
3,wiscosin,60,0.0549,0.0411,0.1175,0.1281,0.111,0.0879,0.0917,0.0885,0.0877
4,pima_diabetes,10,0.0847,0.0996,0.1306,0.1238,0.1312,0.1228,0.11,0.1125,0.1003

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     int64
 2   KNN           32 non-null     object
 3   MICE          32 non-null     object
 4   PMIVAE        32 non-null     object
 5   SAEI          32 non-null     object
 6   MEAN          32 non-null     object
 7   LPR0          32 non-null     object
 8   LPR1          32 non-null     object
 9   LPR2          32 non-null     object
 10  LPR3          32 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.9+ KB

In [18]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,wiscosin,10.0,0.0449,0.0215,0.1165,0.1054,0.1165,0.0970,0.0871,0.0925,0.1001
1,wiscosin,20.0,0.0404,0.0223,0.1161,0.1068,0.1050,0.0832,0.0905,0.0833,0.0894
2,wiscosin,40.0,0.0452,0.0337,0.1041,0.1126,0.1111,0.0820,0.0827,0.0828,0.0822
3,wiscosin,60.0,0.0549,0.0411,0.1175,0.1281,0.1110,0.0879,0.0917,0.0885,0.0877
4,pima_diabetes,10.0,0.0847,0.0996,0.1306,0.1238,0.1312,0.1228,0.1100,0.1125,0.1003

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       32 non-null     object
 1   Missing Rate  32 non-null     float64
 2   KNN           32 non-null     float64
 3   MICE          32 non-null     float64
 4   PMIVAE        32 non-null     float64
 5   SAEI          32 non-null     float64
 6   MEAN          32 non-null     float64
 7   LPR0          32 non-null     float64
 8   LPR1          32 non-null     float64
 9   LPR2          32 non-null     float64
 10  LPR3          32 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.9+ KB

# Agrupando pela taxa MD

In [20]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0449,0.0215,0.1165,0.1054,0.1165,0.0970,0.0871,0.0925,0.1001
1,20.0,0.0404,0.0223,0.1161,0.1068,0.1050,0.0832,0.0905,0.0833,0.0894
2,40.0,0.0452,0.0337,0.1041,0.1126,0.1111,0.0820,0.0827,0.0828,0.0822
3,60.0,0.0549,0.0411,0.1175,0.1281,0.1110,0.0879,0.0917,0.0885,0.0877
4,10.0,0.0847,0.0996,0.1306,0.1238,0.1312,0.1228,0.1100,0.1125,0.1003
5,20.0,0.1022,0.0960,0.1277,0.1117,0.1204,0.1085,0.1101,0.1002,0.1049
6,40.0,0.1070,0.1080,0.1267,0.1399,0.1218,0.1128,0.1117,0.1150,0.1128
7,60.0,0.1093,0.1442,0.1276,0.1390,0.1228,0.1205,0.1181,0.1226,0.1198
8,10.0,0.1482,0.1329,0.1936,0.2051,0.1844,0.1303,0.1739,0.1623,0.1816
9,20.0,0.1640,0.1425,0.2178,0.2054,0.1714,0.1631,0.1630,0.1879,0.1327

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  32 non-null     float64
 1   KNN           32 non-null     float64
 2   MICE          32 non-null     float64
 3   PMIVAE        32 non-null     float64
 4   SAEI          32 non-null     float64
 5   MEAN          32 non-null     float64
 6   LPR0          32 non-null     float64
 7   LPR1          32 non-null     float64
 8   LPR2          32 non-null     float64
 9   LPR3          32 non-null     float64
dtypes: float64(10)
memory usage: 2.6 KB

In [22]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [23]:
df2.to_csv("Resultados_MAR_MEDIAN_missing_rate.csv")

In [16]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.169825,0.163587,0.214150,0.195912,0.219738,0.193713,0.194150,0.197475,0.192488
20.0,0.182862,0.167437,0.216163,0.189375,0.218188,0.194525,0.195075,0.196100,0.193000
40.0,0.201162,0.194038,0.217325,0.166525,0.218712,0.199037,0.197675,0.199150,0.198288
60.0,0.206088,0.210250,0.225612,0.165362,0.225925,0.206625,0.204363,0.206013,0.201475