In [1]:
import pandas as pd

In [2]:
ls

MNAR-MAR.csv  select.ipynb

In [4]:
df = pd.read_csv("MNAR-MAR.csv")

df.head()

,Unnamed: 0,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,0,sylva_prior,10,0.0836 ± 0.0107,0.1043 ± 0.0248,0.0867 ± 0.012,0.1144 ± 0.006,0.1185 ± 0.011,0.1132 ± 0.011,0.1131 ± 0.0103,0.1101 ± 0.0111,0.1128 ± 0.0114
1,1,sylva_prior,20,0.087 ± 0.0111,0.0943 ± 0.0151,0.0831 ± 0.0084,0.1098 ± 0.0192,0.112 ± 0.0102,0.1062 ± 0.0103,0.1064 ± 0.0106,0.1079 ± 0.0069,0.1063 ± 0.0108
2,2,sylva_prior,40,0.0849 ± 0.0125,0.097 ± 0.0123,0.0866 ± 0.0103,0.1092 ± 0.0099,0.1068 ± 0.0081,0.1018 ± 0.0094,0.1047 ± 0.0084,0.1025 ± 0.0093,0.1036 ± 0.0091
3,3,sylva_prior,60,0.0829 ± 0.0108,0.3655 ± 0.1929,0.0869 ± 0.0098,0.1024 ± 0.0173,0.1068 ± 0.0089,0.1034 ± 0.0078,0.1053 ± 0.008,0.1056 ± 0.0087,0.103 ± 0.0084
4,4,fri_c4_1000_100,10,0.8219 ± 0.4319,0.8204 ± 0.4335,0.8189 ± 0.4324,0.8176 ± 0.4316,0.8161 ± 0.4335,0.8165 ± 0.4333,0.8165 ± 0.4333,0.8185 ± 0.4313,0.8165 ± 0.4333

In [5]:
df = df.drop(columns='Unnamed: 0')

cols = df.columns

cols

Index(['Dataset', 'Missing Rate', 'KNN', 'MICE', 'PMIVAE', 'SAEI', 'MEAN',
       'LPR0', 'LPR1', 'LPR2', 'LPR3'],
      dtype='object')

In [6]:
df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0836 ± 0.0107,0.1043 ± 0.0248,0.0867 ± 0.012,0.1144 ± 0.006,0.1185 ± 0.011,0.1132 ± 0.011,0.1131 ± 0.0103,0.1101 ± 0.0111,0.1128 ± 0.0114
1,sylva_prior,20,0.087 ± 0.0111,0.0943 ± 0.0151,0.0831 ± 0.0084,0.1098 ± 0.0192,0.112 ± 0.0102,0.1062 ± 0.0103,0.1064 ± 0.0106,0.1079 ± 0.0069,0.1063 ± 0.0108
2,sylva_prior,40,0.0849 ± 0.0125,0.097 ± 0.0123,0.0866 ± 0.0103,0.1092 ± 0.0099,0.1068 ± 0.0081,0.1018 ± 0.0094,0.1047 ± 0.0084,0.1025 ± 0.0093,0.1036 ± 0.0091
3,sylva_prior,60,0.0829 ± 0.0108,0.3655 ± 0.1929,0.0869 ± 0.0098,0.1024 ± 0.0173,0.1068 ± 0.0089,0.1034 ± 0.0078,0.1053 ± 0.008,0.1056 ± 0.0087,0.103 ± 0.0084
4,fri_c4_1000_100,10,0.8219 ± 0.4319,0.8204 ± 0.4335,0.8189 ± 0.4324,0.8176 ± 0.4316,0.8161 ± 0.4335,0.8165 ± 0.4333,0.8165 ± 0.4333,0.8185 ± 0.4313,0.8165 ± 0.4333

In [7]:
for i in cols:
    if (i != 'Dataset') and (i != 'Missing Rate') :
        df[i] = df[i].str.split().str[0]


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10,0.0836,0.1043,0.0867,0.1144,0.1185,0.1132,0.1131,0.1101,0.1128
1,sylva_prior,20,0.087,0.0943,0.0831,0.1098,0.112,0.1062,0.1064,0.1079,0.1063
2,sylva_prior,40,0.0849,0.097,0.0866,0.1092,0.1068,0.1018,0.1047,0.1025,0.1036
3,sylva_prior,60,0.0829,0.3655,0.0869,0.1024,0.1068,0.1034,0.1053,0.1056,0.103
4,fri_c4_1000_100,10,0.8219,0.8204,0.8189,0.8176,0.8161,0.8165,0.8165,0.8185,0.8165

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      int64
 2   KNN           8 non-null      object
 3   MICE          8 non-null      object
 4   PMIVAE        8 non-null      object
 5   SAEI          8 non-null      object
 6   MEAN          8 non-null      object
 7   LPR0          8 non-null      object
 8   LPR1          8 non-null      object
 9   LPR2          8 non-null      object
 10  LPR3          8 non-null      object
dtypes: int64(1), object(10)
memory usage: 836.0+ bytes

In [9]:
for i in cols:
    if (i != 'Dataset'):
        df[i] = df[i].astype(float)


df.head()

,Dataset,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,sylva_prior,10.0,0.0836,0.1043,0.0867,0.1144,0.1185,0.1132,0.1131,0.1101,0.1128
1,sylva_prior,20.0,0.0870,0.0943,0.0831,0.1098,0.1120,0.1062,0.1064,0.1079,0.1063
2,sylva_prior,40.0,0.0849,0.0970,0.0866,0.1092,0.1068,0.1018,0.1047,0.1025,0.1036
3,sylva_prior,60.0,0.0829,0.3655,0.0869,0.1024,0.1068,0.1034,0.1053,0.1056,0.1030
4,fri_c4_1000_100,10.0,0.8219,0.8204,0.8189,0.8176,0.8161,0.8165,0.8165,0.8185,0.8165

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset       8 non-null      object
 1   Missing Rate  8 non-null      float64
 2   KNN           8 non-null      float64
 3   MICE          8 non-null      float64
 4   PMIVAE        8 non-null      float64
 5   SAEI          8 non-null      float64
 6   MEAN          8 non-null      float64
 7   LPR0          8 non-null      float64
 8   LPR1          8 non-null      float64
 9   LPR2          8 non-null      float64
 10  LPR3          8 non-null      float64
dtypes: float64(10), object(1)
memory usage: 836.0+ bytes

# Agrupando pela taxa MD

In [11]:
df1 = df.copy(deep=True)
df1 = df1.drop(columns="Dataset")
df1.head(10)

,Missing Rate,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
0,10.0,0.0836,0.1043,0.0867,0.1144,0.1185,0.1132,0.1131,0.1101,0.1128
1,20.0,0.0870,0.0943,0.0831,0.1098,0.1120,0.1062,0.1064,0.1079,0.1063
2,40.0,0.0849,0.0970,0.0866,0.1092,0.1068,0.1018,0.1047,0.1025,0.1036
3,60.0,0.0829,0.3655,0.0869,0.1024,0.1068,0.1034,0.1053,0.1056,0.1030
4,10.0,0.8219,0.8204,0.8189,0.8176,0.8161,0.8165,0.8165,0.8185,0.8165
5,20.0,0.4782,0.4848,0.4760,0.4765,0.4723,0.4730,0.4730,0.4752,0.4730
6,40.0,0.3026,0.3189,0.3000,0.3017,0.2954,0.2960,0.2960,0.2986,0.2960
7,60.0,0.2446,0.7030,0.2415,0.2427,0.2374,0.2381,0.2381,0.2411,0.2381

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Missing Rate  8 non-null      float64
 1   KNN           8 non-null      float64
 2   MICE          8 non-null      float64
 3   PMIVAE        8 non-null      float64
 4   SAEI          8 non-null      float64
 5   MEAN          8 non-null      float64
 6   LPR0          8 non-null      float64
 7   LPR1          8 non-null      float64
 8   LPR2          8 non-null      float64
 9   LPR3          8 non-null      float64
dtypes: float64(10)
memory usage: 772.0 bytes

In [14]:
# agrupando pelo MR

grouped_df1 = df.groupby(['Missing Rate'])

df2 = grouped_df1.mean(numeric_only=True)

In [15]:
df2.to_csv("MAR-CORRELATED-OPENML.csv")

In [16]:
df2

,KNN,MICE,PMIVAE,SAEI,MEAN,LPR0,LPR1,LPR2,LPR3
Missing Rate,,,,,,,,,
10.0,0.45275,0.46235,0.45280,0.46600,0.46730,0.46485,0.46480,0.46430,0.46465
20.0,0.28260,0.28955,0.27955,0.29315,0.29215,0.28960,0.28970,0.29155,0.28965
40.0,0.19375,0.20795,0.19330,0.20545,0.20110,0.19890,0.20035,0.20055,0.19980
60.0,0.16375,0.53425,0.16420,0.17255,0.17210,0.17075,0.17170,0.17335,0.17055